body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-content {
  align-items: left;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.search-info {
  display: none;
  right: 102px;
  top: 62px;
  position: fixed;
  font-size: 24px;
  background: rgba(46, 45, 45, 0.589);
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: default;
}

.pagination-container {
  display: none;
}

.search-btn {
  cursor: pointer;
}
