body {
  font-family: "Roboto", sans-serif;
}

.search-btn {
  cursor: pointer;
  padding: 4px;
}
.search-input {
  width: 480px;
  padding: 4px;
}

@media only screen and (max-width: 600px) {
  .search-input {
    width: 250px;
  }
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-content {
  align-items: left;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.search-info {
  display: none;
  right: 102px;
  top: 62px;
  position: fixed;
  font-size: 24px;
  background: rgba(46, 45, 45, 0.589);
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: default;
}

.pagination-container {
  display: none;
  align-items: center;
  max-width: 400px;
  overflow: auto;
}

.page-count {
  cursor: pointer;
  margin: 4px;
}

.active-page {
  color: blue;
  text-decoration: underline;
}

.loader-div {
  position: fixed;
  top: 36px;
  right: 717px;
  width: 319px;
  height: 17px;
  background: red;
  padding: 6px;
  font-size: 17px;
  color: #fff;
  border-radius: 4px;
}

.hide {
  display: none;
}
