.main-container,
.book-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.search-info {
  display: none;
  right: 102px;
  top: 62px;
  position: fixed;
  font-size: 24px;
}

.search-info {
  display: none;
}

.pagination-container {
  display: none;
}
